<% if (flash || ((typeof error !== 'undefined') && error) || (typeof errors !== 'undefined' && errors.length)) { %>
  <section class="shell notice-stack">
    <% if (flash) { %>
      <div class="notice notice--<%= flash.type %>"><%= flash.message %></div>
    <% } %>

    <% if (typeof error !== 'undefined' && error) { %>
      <div class="notice notice--error"><%= error %></div>
    <% } %>

    <% if (typeof errors !== 'undefined' && errors.length) { %>
      <div class="notice notice--error">
        <ul>
          <% errors.forEach((item) => { %>
            <li><%= item %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
  </section>
<% } %>
